*{
  margin: 0;
  padding :0;
  box-sizing: border-box;
}
body {
    background-image: url('./images/pexels-padrinan-19670.jpg');
    background-size: cover; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
   align-content: center;
   display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
h1 {
   font-family: cursive;
  text-align: center; 
 font-weight: 1000;
 font-size: 3rem;
 background :linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
 -webkit-text-fill-color:transparent;
  -webkit-background-clip: text;
  font-size: 3rem;
  margin: bottom 20px;
}

p{
  font-weight: bold;
  text-shadow: offset-x offset-y blur-radius color;
    font-size: 1.2rem;
    font-style: italic;
  color: rgb(110, 110, 243);
  text-align: center;
}
h2 {
  font-size: 1.5rem;
   font-style: italic; 
   font-weight: 1000;
  color: rgb(179, 84, 235);
  text-align: center;
  margin:20px 0 10px;
}

.row{
display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}  
 
input[type=text] {
  background-color: rgb(177, 145, 209);
 
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}
textarea{
  background-color: rgb(181, 167, 235);
  
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
}
input[type=submit]{
  background-color: rgb(153, 127, 224);
 
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px; 
}

.form-group label{
  text-align: left;
}

.tab{
  tab-size: 20px;
  
  border: 1px solid #5b81eb;
justify-content: center;
color: rgb(236, 36, 36);
font-size: larger;
font-style: oblique;
background-color: rgb(108, 128, 243);
flex-wrap: wrap;
  align-items: center;
}
.tab button {
  background-color:rgb(165, 136, 233);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #b06ee6;
}
.tab button.active {
  background-color: #556cd6;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #0e0101;
  border-top: none;
  border: radius 25%;
}
.column,
.c1 {
  flex: 1 1 100px;
  max-width: 120px;
}

 .column img,
.c1 img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}
form {
  font-style: oblique;
  font-size: 1.1rem;
  color: rgb(219, 46, 235);
  border: 2px dotted rgb(139, 105, 233);
  padding: 20px;
  max-width: 400px;
  margin: auto;
  background-color: rgba(234, 226, 240, 0.6);
  border-radius: 10px;
}
.box1 {
  border-bottom: 2px solid blue;
  padding: 10px;
  margin-top: 10px;
}
.loader {
  width: 100vw;
  height: 100vh;
  background-color:#0C0705 ;
  
  
  background-size: cover;
  display:flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader img{
  height : 250px;
    width : 250px;
    animation: spinlogo 5s linear infinite;
}
@keyframes spinlogo {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#content {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

body.loaded #content {
  opacity: 1;
}

